 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(26,26,26,0.45), rgba(26,26,26,0.45)), url("images/dfsfdsf.jpg");
  background-position: 50% 50%;
  min-height: 195px;
}

.u-section-1 .u-group-1 {
  margin-top: 78px;
  margin-bottom: 22px;
  min-height: 95px;
}

.u-section-1 .u-container-layout-1 {
  padding: 8px 30px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  margin: 0 auto -22px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 161px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -87px;
    margin-left: calc(((100% - 940px) / 2) + 281px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 195px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 70px;
    margin-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 194px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 79px;
    margin-bottom: 21px;
    min-height: 94px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 21px;
    margin-right: 21px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 122px;
  }

  .u-section-1 .u-text-1 {
    width: 279px;
    margin-left: auto;
    margin-right: auto;
  }
} .u-section-2 {
  background-image: url("images/dfsfdsf.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 1067px;
}

.u-section-2 .u-custom-html-1 {
  min-height: 902px;
  background-image: none;
  margin-top: 0;
  margin-bottom: 60px;
  height: auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 878px;
  }
} .u-section-3 {
  background-image: url("images/gffgfg-min.jpg");
  background-position: 52.68% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1833px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 100%;
  margin: 23px 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 558px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-custom-html-1 {
  min-height: 558px;
  background-image: none;
  height: auto;
  width: 817px;
  margin: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 550px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0 43px;
}

.u-section-3 .u-text-1 {
  margin: 156px 60px 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-wrap-2 {
  margin-top: 9px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 607px;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  width: 239px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 607px;
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-3 .u-custom-html-2 {
  min-height: 607px;
  background-image: none;
  margin: 0 0 0 5px;
}

.u-section-3 .u-layout-wrap-3 {
  margin-top: 6px;
  margin-bottom: 23px;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 607px;
}

.u-section-3 .u-container-layout-5 {
  padding: 0;
}

.u-section-3 .u-custom-html-3 {
  min-height: 607px;
  width: 817px;
  background-image: none;
  margin: 0;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 607px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 56px;
}

.u-section-3 .u-text-4 {
  margin: 254px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 966px;
  }

  .u-section-3 .u-layout-cell-1 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-custom-html-1 {
    width: 736px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 501px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 26px;
    width: 238px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 501px;
  }

  .u-section-3 .u-custom-html-2 {
    height: auto;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-5 {
    background-position: 50% 50%;
    min-height: 501px;
  }

  .u-section-3 .u-custom-html-3 {
    height: auto;
    width: 674px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 501px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 632px;
  }

  .u-section-3 .u-custom-html-1 {
    width: 564px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    width: 168px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 384px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 384px;
  }

  .u-section-3 .u-custom-html-3 {
    width: 516px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1002px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 535px;
  }

  .u-section-3 .u-custom-html-1 {
    width: 540px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 421px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 607px;
  }

  .u-section-3 .u-custom-html-3 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 545px;
  }

  .u-section-3 .u-custom-html-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 265px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 382px;
  }

  .u-section-3 .u-custom-html-3 {
    width: 340px;
  }
}